#section-four { height: 192rem; margin-bottom: 1rem;
    .content { width: 100%; }
    article { 
        &:nth-child(even) { flex-direction: row-reverse;}
        .content { padding-left: 16rem; 
            &:nth-child(even) { padding-left: 5rem; padding-right: 16rem; }
        }
    }
}
