#section-four { min-height: 192rem; margin-bottom: 1rem;
    .content { width: 100%; }
    article { 
        &:nth-child(even) { flex-direction: row-reverse; 
            @include bp(phablet) { flex-direction: column-reverse; }
        }
        .content { padding-left: 16rem; 
            @include bp(phablet) { padding: 0; }
            &:nth-child(even) { padding-left: 5rem; padding-right: 16rem; }
        .info { padding: 3.5rem; }
        }
    }
}
