#section-contact { padding: 0; font-weight: 100; line-height: 2.4rem; position: relative; 
    height: 80rem; background: url(images/map-test.png) no-repeat; //sorry, for test view only
    .form {
        .content { padding: 3rem; }
    }

.cont { padding-top: 1.5rem; padding-bottom: 1.5rem;
    &-title { font-weight: bold; }
}

.contact { font-weight: bold; }

.address {
    &-title { font-weight: 900; }
    }
}
