@import url(https://fonts.googleapis.com/css?family=Lato);

h1 { font-size: 5.6rem; font-weight: bold; }
h2 { font-size: 3.2rem; font-weight: bold; }
h3 { text-transform: uppercase; font-weight: 300; font-size: 1.6rem; }

a {
    &:any-link { color: #fff; text-decoration: none; }
}