@import url(https://fonts.googleapis.com/css?family=Vollkorn|Roboto);

$font_primary: 'Vollkorn' , serif;

h1 { font-size: $large_fontsize;  font-family: $font-primary; color: $primary_color;
    @include bp(phablet) { font-size: $small_fontsize; }
}