.content { align-items: center; width: 50%; 
    @include bp(phablet) { width: 100%; }
    &-photo { width: 50%; 
        @include bp(phablet) { margin-top: 5.6rem; }
        img { @include bp(phablet) { width: 100vw; height: auto; }
        }
    } 
}
