footer { padding: 0; height: 10rem;
    .metadata { line-height: 10rem; display: flex; flex-direction: row; justify-content: space-around; width: 100%; 
        @include bp(phablet) { line-height: 24px; flex-direction: column; }
    }
    .logo { padding: 0; 
        @include bp(phablet) { padding: 1rem; padding-left: 0; }
    }
    a { font-size: 1.6rem; text-transform: none; padding-right: .2rem;
        @include bp(phablet) { text-decoration: underline; padding: .3rem; }
        &:hover { background-color: black; text-decoration: underline; }
    }
    .copyright { @include bp(phablet) { font-size: 12px; padding-top: 1rem; padding-bottom: 1.5rem; } 
    }
}
